# Python bytecode and logs
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Virtual environment
venv/
env/

# Django secret key and settings
*.env

# Database
*.sqlite3

# Static and media files
/staticfiles/
/media/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Deployment
*.tar.gz
*.zip
*.egg-info/
